
# --------------------------- IDE files & folders ---------------------------- #

*.pyc
.idea
.env
.venv
.vscode
.DS_Store
data/*
app/data

# --------------------------------- Logging ---------------------------------- #

log
*.log

# -------------------------- Django folders & files -------------------------- #

db.sqlite3
cache
__pycache__

# --------------------------------- Testing ---------------------------------- #

test
.coverage

# ---------------------------------- Build ----------------------------------- #

build
dist
