
# --------------------------- IDE files & folders ---------------------------- #

*.pyc
.idea
.env
.venv
.vscode
.DS_Store

# --------------------------------- Logging ---------------------------------- #

log
*.log

# -------------------------- Django folders & files -------------------------- #

__pycache__
cache
settings_local.py
services
data

# --------------------------------- Testing ---------------------------------- #

test
coverage
.coverage

# ---------------------------------- Build ----------------------------------- #

build
dist