
# --------------------------- IDE files & folders ---------------------------- #

*.pyc
.idea
.env
.venv
.vscode
.DS_Store
data/*

# --------------------------------- Testing ---------------------------------- #

docker-compose-local.yml
test
.coverage