# Django packages
Django==5.2.8
django-environ==0.12.0
django-cors-headers==4.9.0
djangorestframework==3.16.1
drf-spectacular==0.29.0

# Websockets & real-time
channels[daphne]==4.3.2
channels-redis==4.3.0

# Large-scale data processing
polars[pandas]==1.35.2
rich==14.2.0
chardet==5.2.0

# Deduce packages
deduce==3.0.6
